html{background: linear-gradient(to right, brown, green);}

#ausgabe{text-align:center ; color:antiquewhite; font-size: 30px}

#first{text-align: center; color: antiquewhite;}

h1{text-align: center; color: antiquewhite;}